.env
venv
node_modules
dist
__pycache__
backend/db.sqlite3
.gitignore
.gitignore
verify_engine.py
verify_auth.py
verify_agents.py
.DS_Store
icone-qloryfy.png
Gemini_Generated_Image_8yle7u8yle7u8yle.png
logo-qlorfy.png
system-prompts.txt
verify_admin.py
.agents
.db
backend/dev.db
backend/prisma/dev.db
n8n-nodes-custom/docker-compose.yml
chaves-google.json
